<% if flash[:my_errors] %>
<% flash[:my_errors].each do %>
    <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @building do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, id: "test" %>
    <%= f.label :country %>
    <%= f.text_field :country %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :rent_per_floor %>
    <%= f.number_field :rent_per_floor %>
    <%= f.submit %>
<% end %>