<h1>Edit <%=@building.name%>'s info</h1>


<%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
        <p><%= error %></p>
    <%end%>
<%end%>

<%= form_for @building do |f| %>
<%= f.label :name%>
<%= f.text_field :name%><br><br>

<%= f.label :country%>
<%= f.text_field :country%><br><br>


<%= f.label :address%>
<%= f.text_field :address%><br><br>

<%= f.label :rent_per_floor%>
<%= f.number_field :rent_per_floor%><br><br>

<%= f.label :number_of_floors%>
<%= f.number_field :number_of_floors%><br><br>

<%= f.submit%>

<%end%>
